<div class="card-form">
  <form-card [formTitle]='"Register an Account"' [btnPrimary]='"Signup"' [btnSecondary]='"Cancel"'>
    <md-input-container>
      <input mdInput placeholder="first name" type="text" value="">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="last name" type="text" value="">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="email" type="email" value="">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="password" type="password" value="">
    </md-input-container>
  </form-card>
</div>