.pointer {
  cursor: pointer;
}

.card-form {
    height: 100vh;
    padding-top: 4em;
}

.error {
  color: $color-error;
}

.inner {
    max-width: 900px;
    margin: 0 auto;

    @media all and (max-width: 900px) {
        padding: 2rem;
    }
}