.pointer {
  cursor: pointer;
}

.card-form {
    height: 100vh;
    padding-top: 4em;
}

.error {
  color: $color-error;
}

.inner {
    max-width: 90%;
    margin: 0 auto;

    @media all and (max-width: 900px) {
        padding: 2rem;
    }
}

.section-header {
    margin: 1em 0;
    color: $text-dark;
}