<md-toolbar color="primary">
  <h4 class="pointer" routerLink="home">{{ title }}</h4>
  <span class="fill-remaining-space"></span>
  <div *ngIf="!user; else loggedin" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button routerLink="register" routerLinkActive="active">Register</button>
    <button md-button routerLink="login" routerLinkActive="active">Login</button>
  </div>
  <ng-template #loggedin>
    <button md-button routerLink="search-locations" routerLinkActive="active">Search</button>
    <button md-button routerLink="account/saved-locations" routerLinkActive="active">Saved</button>
    <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>Account</button>
  </ng-template>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item routerLink="login">Logout</button>
</md-menu>