<md-toolbar color="primary">
  <h2 class="pointer">{{ title }}</h2> 
  <span class="fill-remaining-space"></span>
  <div *ngIf="!user" fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button routerLink="login" routerLinkActive="active">Signup</button>
    <button md-button routerLink="login" routerLinkActive="active">Login</button>
  </div>
  <button *ngIf="user" md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <md-icon>menu</md-icon>
  </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item routerLink="/products">Products</button>
  <button md-menu-item routerLink="/dashboard">Dashboard</button>
  <!--<button md-menu-item>Help</button>-->
</md-menu>