<div class="inner">
  <h3 class="section-header">Hiking Locations</h3>
  <p class="section-sub">You can search and save locations, as well as filter total results, and distance.</p>
  <div class="search-container">
    <md-input-container class="example-full-width">
      <input [(ngModel)]="searchValue" (input)="onInput($event.target.value)" mdInput placeholder="Search for hiking locations">
    </md-input-container>
    <md-select placeholder="Total Results" (change)="onTotalResults($event.value)" name="result" [(ngModel)]="selectedLimit">
      <md-option *ngFor="let result of resultsLimits" [value]="result.value">
        {{result.viewValue}}
      </md-option>
    </md-select>
    <md-select placeholder="Range(miles)" (change)="onRange($event.value)" name="distance" [(ngModel)]="selectedDistance">
      <md-option *ngFor="let distance of distances" [value]="distance.value">
        {{distance.viewValue}}
      </md-option>
    </md-select>
  </div>
  <div *ngIf="locations?.length; else noLocations" class="locations">
    <location *ngFor="let location of locations; index as i;" class="location" [location]="location" (saveLocation)="saveLocation($event)" (click)="locationClicked(location)"></location>
  </div>
  <ng-template #noLocations><p class="no-locations">No Locations Found</p></ng-template>
</div>