@import "~styles/_partials/_variables";

.mat-input-container {
    display: block;
    width: 50%;
}

.search-container {
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.location {
    background: white;
    margin: 10px 0;
    width: 24%;
    cursor: pointer;
    box-shadow: $shadow !important;

    &--wide {
        width: 100%;
    }

    &__details {
        padding: 2rem;

        p {
            line-height: 1.2;
            margin-bottom: 0;
        }
    }

    @media all and (max-width: 850px) {
        width: 48%;
    }

    @media all and (max-width: 550px) {
        width: 100%;
    }
}

.no-locations {
    margin: 3em auto;
    text-align: center;
}
