<div class="inner">
  <h3 class="section-header">Saved Locations</h3>
  <p class="section-sub">Locations you've saved. Click any to get more details, or delete from your list.</p>
  <div *ngIf="userLocations?.length" class="container">
    <ul class="container__list-items">
      <li class="list-item" *ngFor="let location of userLocations" (click)="locationClicked(location)">
        <h4>
          {{location.name}}
        </h4>
        <p class="location-">{{location.city}}, {{location.state}}</p>
        <button md-raised-button class="location-button" (click)="removeLocation(location)">Remove</button>
      </li>
    </ul>
  </div>

</div>