<div class="form-card">
  <md-card>
      <md-card-header>
        <md-card-title>{{ formTitle }}</md-card-title>
      </md-card-header>

      <md-card-content>
        <!-- project inputs here -->
        <ng-content class="form-card__inputs"></ng-content>
      </md-card-content>
      <md-card-actions>
        <button (click)="submitPrimary()" md-button>{{ btnPrimary }}</button>
        <button (click)="submitSecondary()" md-button>{{ btnSecondary }}</button>
      </md-card-actions>
    </md-card>
  </div>