@import "~styles/_partials/_variables";

.form-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    min-width: 390px;
}

.mat-card-header {
    .mat-card-title {
        font-weight: 700;
        font-size: 1.2em;
    }
}
