<div class="card-form">
  <form [formGroup]='form' class="card-form__form" novalidate>
    <form-card 
    [formTitle]='"Reset Your Password"'
    [btnPrimary]='"Send Reset"'
    (primaryClicked)="resetPassSubmit(form, $event)">
      <md-input-container>
        <input name="password" #email formControlName="password" mdInput placeholder="password" type="password" autocomplete="off">
      </md-input-container>
      <div class="card-form__form--error error">
        <div *ngIf="form.controls['password'].hasError('required') && form.get('password').touched">
          Password is required
        </div>
      </div>
      <md-input-container>
        <input name="confirm-password" #email formControlName="confirmPassword" mdInput placeholder="confirm password" type="password" autocomplete="off">
      </md-input-container>
      <div class="card-form__form--error error">
        <div *ngIf="form.controls['confirmPassword'].hasError('required') && form.get('confirmPassword').touched">
          Password is required
        </div>
      </div>
    </form-card>
  </form>
</div>