<div class="card-form">
  <form [formGroup]='form' class="card-form__form" novalidate>
    <form-card 
    [formTitle]='"Forgot Password"'
    [btnPrimary]='"Send Email"'
    (primaryClicked)="forgotSubmit(f, $event)">
      <md-input-container>
        <input name="email" #email formControlName="email" mdInput placeholder="email" type="email" autocomplete="off">
      </md-input-container>
      <div class="card-form__form--error error">
        <div *ngIf="form.controls['email'].hasError('required') && form.get('email').touched">
          Email is required
        </div>
      </div>
    </form-card>
  </form>
</div>