@import "~styles/_partials/_variables";

.mat-card-content {
    height: 45px;
    overflow: hidden;
}

.card-image-container {
    overflow: hidden;
    height: 250px;
    margin-bottom: 1em;
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;

    img {
        margin: auto;
        width: 100%;
    }
}

.mat-card-title {
    font-weight: bold;
    color: #888;
    font-size: 1.7em;
}
