<md-card>
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{ location.name }}</md-card-title>
    <md-card-subtitle>{{ location.city }}, {{ location.state }}</md-card-subtitle>
  </md-card-header>
  <figure class="card-image-container">
    <img md-card-image src="{{ location?.imageLink }}">
  </figure>
  <!--{{ location?.images[0] | json }}-->
  <md-card-content>
    <p *ngIf="location.description">
      {{ location.description.split(' ').slice(0, 25).join(' ') + '...' }}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="submitSaveLocation(location)">LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>