@import "~styles/_partials/_variables";

md-card {
    
    transition: .2s ease-in-out;
    transform: scale(1) translateY(0);
    transform-origin: center bottom;
    box-shadow: $shadow;

    &:hover {
        box-shadow: $shadow-hover;
        transform: scale(1.01) translateY(-5px);
    }
}

.mat-card-content {
    height: 45px;
    overflow: hidden;
}

.card-image-container {
    overflow: hidden;
    height: 195px;
    margin-bottom: 1em;
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;

    img {
        margin: auto;
        width: 100%;
    }
}

.mat-card-title {
    min-height: 56px;
    font-weight: bold;
    color: #666;
    font-size: 1.7em;
}

.card-image-container__no-image {
    width: 100%;
    height: 100%;
    background: #eee;
    font-weight: bold;
    color: #777;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
