<md-card>
  <md-card-header>
    <md-card-title>{{ location.name }}</md-card-title>
    <md-card-subtitle>{{ location.city }}, {{ location.state }}</md-card-subtitle>
  </md-card-header>
  <figure class="card-image-container">
    <img md-card-image src="{{ location?.imageLink }}">
  </figure>
  <!--{{ location?.images[0] | json }}-->
  <md-card-content>
    <p *ngIf="location.description; else noDesc">
      {{ location.description.split(' ').slice(0, 15).join(' ') + '...' }}
    </p>
    <ng-template #noDesc>No description</ng-template>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="submitSaveLocation(location, $event)">LIKE</button>
  </md-card-actions>
</md-card>