<md-card>
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{ location.name }}</md-card-title>
    <md-card-subtitle>{{ location.city }}, {{ location.state }}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://placeholdit.co//i/555x350">

  <md-card-content>
    <p>
      {{ location.description }}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>